@charset "utf-8";
/* CSS Document */

.page_content h2{ margin:10px 0;}
.page_content h2 a{ font-size:16px;}
.page_content dl,.page_content dt{ clear:both;}
.page_content dt{ font-weight:bold;}
.page_content dt a{ font-weight:bold; line-height:28px;}
.page_content dd{ margin:5px 10px; float:left;}